body {
  padding: 20px;
  font-family: 'Liberation Sans', Arial, sans-serif;
}

.curriculum-grid {
  position: relative;
  background: #E8E8E8;
  height: 300px;
  font-size: 14px;
  text-align: center;
  overflow: auto;
}

.curriculum-grid svg {
  position: absolute;
  top: 25px;
  height: calc(100% - 25px);
}
.curriculum-grid path {
  stroke: #000;
  stroke-width: 2px;
  fill: transparent;
}
.curriculum-grid #path-seta path {
  stroke-width: 1;
}
.curriculum-grid #path-seta-hover path {
  stroke-width: 1;
  stroke: #D00;
}

.curriculum-grid path.dis-hover {
  stroke: #D00;
}

.curriculum-grid .season {
  position: relative;
  background: rgba(0,0,0,0.1);
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding: 0 20px;
}

.curriculum-grid .season:nth-child(odd) {
  background: rgba(255,255,255,0.2);
}

.curriculum-grid h2 {
  width: 58px;
  margin: 10px 0 0 0;
  white-space: nowrap;
  font-weight: normal;
  font-size: 90%;
  line-height: 15px;
  color: rgba(0,0,0,0.3);
}

.curriculum-grid .codep {
  background: rgba(0,180,220,0.3);
  border-radius: 9px;
  margin: 10px -10px;
  padding: 10px;
}

.curriculum-grid .discipline {
  width: 58px;
  line-height: 18px;
  padding: 10px 5px;
  margin: 20px 0;
  border: 1px solid #FFF;
  border-radius: 3px;
  background: #DDD;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  cursor: pointer;
}
.curriculum-grid .codep .discipline:first-child {
  margin-top: 0px;
}
.curriculum-grid .codep .discipline:last-child {
  margin-bottom: 0px;
}

.curriculum-grid .discipline:hover {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 11px #FFF;
}

.curriculum-grid .discipline.done {
  background: #8BD;
}

.curriculum-grid .allowed {
  background: #9C5;
}

.curriculum-grid .pending-dependency {
  background: #D98;
}

